<div class="chat-messages">
  <div class="chat-messages-show-container">
    <div
      *ngFor="let message of messages"
      class="message-box my-message-box"
      [class.my-message-box]="isOwnMessage(message)"
    >
      <div class="message-sender">{{ message.sender }}</div>
      <div class="message-content">{{ message.content }}</div>
      <div class="message-timestamp">{{ message.timestamp }}</div>
    </div>
  </div>
  <div>
    <span *ngIf="userTypingList.size > 0">
      {{ usersTyping }}
    </span>
  </div>
  <form id="chat-form" (ngSubmit)="sendMessage()">
    <div class="chat-messages-create-container">
      <input
        class="chat-messages-create-input"
        type="text"
        [formControl]="messageInput"
        (input)="notifyTyping()"
      />
      <button class="chat-messages-create-button" type="submit">Send</button>
    </div>
  </form>
</div>
