.chat-messages-show-container {
  background: #c3c3c3;
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1vh;
  box-sizing: border-box;
}
.chat-messages-show-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lower-screen {
  height: 10vh;
  display: flex;
  flex-direction: column;
}

.chat-form {
  display: flex;
  flex-direction: column;
  flex: 9 1;
}

.chat-messages-create-container {
  background: #616161;
  display: flex;
  flex: 1 1;
  justify-content: center;
}
.chat-messages-create-input {
  overflow-wrap: break-word;
  resize: none;
  padding: 12px;
  box-sizing: border-box;
  margin: 29px 30px;
  flex: 2;
}
.chat-messages-create-button {
  height: 50px;
  margin: auto 40px;
  width: 100px;
}

.error-box {
  display: flex;
  flex: 1;
}

.message-box {
  background: #000000;
  position: relative;
  padding: 2vh;
  width: fit-content;
  border-radius: 1vh;
  margin-left: 2vh;
  margin-bottom: 2vh;
  animation: fadein 700ms ease-in-out;
}
.message-content {
  padding: 1vh 0;
  overflow-wrap: break-word;
}

.message-sender {
  font-weight: bold;
}
.message-timestamp {
  font-size: 0.7rem;
}

.message-read {
  transition: color 3s ease-in-out;
  color: #00fcfc;
}
.message-check {
  padding-left: 1vh;
  float: right;
}

.my-message-box {
  align-self: flex-end;
  margin-right: 2vh;
}

.message-box:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 2.7vh solid transparent;
  border-bottom-color: #000000;
  border-top: 0;
}

.message-box:not(.my-message-box):after {
  left: 0;
  border-right: 0;
  margin-left: -2vh;
}

.message-box.my-message-box:after {
  right: 0;
  border-left: 0;
  margin-right: -2vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
