<div class="chat-messages">
  <div class="chat-messages-show-container" #scrollMe>
    <div
      *ngFor="let message of messages"
      class="message-box my-message-box"
      [class.my-message-box]="isOwnMessage(message)"
    >
      <div class="message-sender">{{ message.sender }}</div>
      <div class="message-content">{{ message.content }}</div>
      <div>
        <span class="message-timestamp">
          {{ message.timestamp }}
        </span>
        <span
          class="message-read message-check"
          *ngIf="isOwnMessage(message)"
          [class.message-read]="isMessageRead(message)"
        >
          &#10003;
        </span>
      </div>
    </div>
  </div>
  <div>
    <span *ngIf="userTypingList.size > 0">
      {{ usersTyping }}
    </span>
  </div>
  <div class="lower-screen">
    <form class="chat-form" id="chat-form" (ngSubmit)="sendMessage()">
      <div class="chat-messages-create-container">
        <textarea
          class="chat-messages-create-input"
          type="text"
          [formControl]="messageInput"
          (input)="notifyTyping()"
          (keydown.enter)="sendMessage(); (false)"
        >
        </textarea>

        <button
          class="chat-messages-create-button"
          [disabled]="messageInput.invalid"
          type="submit"
        >
          Send
        </button>
      </div>
    </form>
    <div class="error-box" *ngIf="messageInput.errors?.required">
      Message cannot be empty.
    </div>
  </div>
</div>
