<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  type="text/css"
  rel="stylesheet"
/>

<!-- Toolbar -->
<div class="content" role="main">
  <div class="login">
    <h2 class="title">Login to Chat</h2>
    <form id="login-form" (ngSubmit)="submit()">
      <div class="form-group" data-step="1" data-intro="This is a tooltip!" data-position='right'>
        <input
          type="text"
          class="form-control"
          id="username"
          [formControl]="username"
          placeholder="Username"
        />
        <div *ngIf="username.errors?.required">Name is required.</div>
        <div *ngIf="username.errors?.minlength">
          Name must be at least 4 characters long.
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="username.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
